name: Plugin Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  php-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: Install SVN
        run: sudo apt-get update && sudo apt-get install -y subversion
      - name: Install test suite
        run: bash bin/install-wp-tests.sh wordpress_test root '' localhost latest
      #- name: Run PHPUnit
      #  run: vendor/bin/phpunit
